.footer {
  background: rgb(9,8,8);
  background: linear-gradient(172deg, rgba(9,8,8,1) 0%, rgba(119,43,25,1) 45%, rgba(232,148,149,1) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}

.footer .fa-heart {
  color: #D23333;
}

.footer a {
  font-size: 30px;
  color:  rgb(117, 35, 35);
  border-radius: 50%;
  padding: 0px 10px;
}

.footer a:hover{
  color: rgb(181, 86, 86);
  background-color: rgba(154, 35, 37, 0.4);
  box-shadow: 0 0 1em 0.25em rgba(237, 110, 110, 0.781), 0 0 4em 2em rgba(243, 65, 65, 0.781), inset 0 0 0.75em 0.25em rgb(228, 147, 148);
}

.footer-copyright {
  color:white;
}
